@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron/">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ===== Link Swiper's CSS ===== -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- ===== Fontawesome CDN Link ===== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="style.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-----<title>Responsive Profile Cards | CodingLab</title>----->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />


</head>

<body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron teste">
        <div class="container text-bg-dark">
            <h1>‎ </h1>
            <p> ‎ </p>
            <p> ‎ </p>
            <p> ‎ </p>
            <p> ‎ </p>
            <p> ‎ </p>
            <p>‎  </p>
        </div>
    </div>

    <div class="container">
        <h1 class="text-bold movedown cortexto">Suggestions:</h1>
        <!-- Example row of columns -->
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


    <section>

        <div class="swiper mySwiper container moveright">
            <div class="swiper-wrapper content">

                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <img src="~/images/pessoa1.jpg" />
                        </div>

                        <div class="name-profession">
                            <span class="name">João Costa</span>
                            <span class="profession">Porto</span>
                            <span class="profession">28 anos</span>
                        </div>

                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <div class="button">
                            <button class="aboutMe">Show More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <!--<img src="images/img2.jpg" alt="">-->
                            <img src="~/images/pessoa2.jpg" />
                        </div>

                        <div class="name-profession">
                            <span class="name">Maria Ferreira</span>
                            <span class="profession">Lisboa</span>
                            <span class="profession">22 anos</span>
                        </div>

                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <div class="button">
                            <button class="aboutMe">Show More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <!--<img src="images/img3.jpg" alt="">-->
                            <img src="~/images/pessoa3.jpg" />
                        </div>

                        <div class="name-profession">
                            <span class="name">André Dantas</span>
                            <span class="profession">Braga</span>
                            <span class="profession">24 anos</span>
                        </div>

                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <div class="button">
                            <button class="aboutMe">Show More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <!--<img src="images/img4.jpg" alt="">-->
                            <img src="~/images/pessoa4.jpg" />
                        </div>

                        <div class="name-profession">
                            <span class="name">Júlio Pelintra</span>
                            <span class="profession">Bragança</span>
                            <span class="profession">19 anos</span>
                        </div>

                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <div class="button">
                            <button class="aboutMe">Show More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <!--<img src="images/img5.jpg" alt="">-->
                            <img src="~/images/pessoa5.jpg" />
                        </div>


                        <div class="name-profession">
                            <span class="name">Sara Furtado</span>
                            <span class="profession">Braga</span>
                            <span class="profession">22 anos</span>
                        </div>

                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <div class="button">
                            <button class="aboutMe">Show More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <!--<img src="images/img6.jpg" alt="">-->
                            <img src="~/images/pessoa6.jpg" />
                        </div>


                        <div class="name-profession">
                            <span class="name">Daniel Maciel</span>
                            <span class="profession">Guarda</span>
                            <span class="profession">34 anos</span>
                        </div>

                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <div class="button">
                            <button class="aboutMe">Show More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <!--<img src="images/img7.jpg" alt="">-->
                            <img src="~/images/pessoa7.jpg" />
                        </div>

                        <div class="name-profession">
                            <span class="name">Hélder Araujo</span>
                            <span class="profession">Algarve</span>
                            <span class="profession">30 anos</span>
                        </div>

                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <div class="button">
                            <button class="aboutMe">Show More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <!--<img src="images/img8.jpg" alt="">-->
                            <img src="~/images/pessoa8.jpg" />
                        </div>

                        <div class="name-profession">
                            <span class="name">Conceição Vale</span>
                            <span class="profession">Viana do Castelo</span>
                            <span class="profession">64 anos</span>
                        </div>

                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <div class="button">
                            <button class="aboutMe">Show More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <!--<img src="images/img9.jpg" alt="">-->
                            <img src="~/images/pessoa9.jpg" />
                        </div>

                        <div class="name-profession">
                            <span class="name">José Almeida</span>
                            <span class="profession">Beja</span>
                            <span class="profession">68 anos</span>
                        </div>

                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <div class="button">
                            <button class="aboutMe">Show More</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </section>


    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });</script>

    <div class="container">
        <h1 class="text-bold movedown cortexto">Markets:</h1>
        <!-- Example row of columns -->
    </div> <!-- /container -->
    <div class="container2">
        <div class="box">
            <div class="image">
                <!-----<img src="img1.jpeg">------->
                <img src="~/images/market1.jpg" />
            </div>
            <div class="name_job">Fruits</div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="btns">
                <button>Show More</button>
                <button>Favorite</button>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <!------  <img src="img2.jpeg" alt="">--->
                <img src="~/images/market2.jpg" />
            </div>
            <div class="name_job">Clothes</div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="btns">
                <button>Show More</button>
                <button>Favorite</button>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <!---- <img src="img3.jpeg" alt="">---->
                <img src="~/images/market3.jpg" />
            </div>
            <div class="name_job">Cheeses</div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <div class="btns">
                <button>Show More</button>
                <button>Favorite</button>
            </div>
        </div>
    </div>


</body>
</html>