@{
    ViewData["Title"] = "Welcome Authorization";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Feiras Novas</h1>
        <p class="lead text-muted">
            An account is required. Please create an account or login to continue
        </p>
        <p>
            <a class="btn btn-primary my-2" asp-area="Identity" asp-page="/Account/Login"> Login</a>
            <a class="btn btn-primary my-2" asp-area="Identity" asp-page="/Account/Register">  Register</a>
        </p>
    </div>
</section>
